{% extends "layout.html" %}
{% block content %}


<h2>Requirement For Login</h2><br>
<p style="">1. Username</p><br>
<th>2. Password</th><br><br>

{% with messages = get_flashed_messages() %}
 {% if messages %}
   <ul class=flashes>
       {% for message in messages %}
          <li style="color:red;">{{ message }}</li>
       <div style="color:red;">{{message2}}</div>
       {% endfor %}
   </ul>
 {% endif %}
{% endwith %}
{% block body %}{% endblock %}

<div style="color:red;">{{message2}}</div>

<button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>

<div id="id01" class="modal">

    <form class="modal-content animate" action="{{url_for('dashboard')}}" method="POST">
        <div class="imgcontainer">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
            <!--<img src="./images/me.jpg" alt="Avatar" class="avatar">-->
            <!--<img src="{{ user_image }}"></img>-->
            <h1 style="padding-left: 30px;">Login</h1>
        </div>


            <label for="uname" style="margin-left:90px;"><b>Username:</b></label>
            <input type="text" placeholder="Enter Username" name="username" required><br><br>

            <label for="psw" style="margin-left:90px;"><b>Password:</b></label>
            <input type="password" placeholder="Enter Password" name="password" required><br><br>

            <button type="submit" style="margin-left:180px;">Login</button>
            <!--<button type="submit">Login2</button>-->

            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label><br>




            <button style="margin-left: 20px;" type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
            <span style=" margin-right: 150px;" class="psw">Forgot <a href="#">password?</a></span>
    </form>
</div>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

{% endblock content %}